

.body-initial {background-color: rgba(255,255,255,1);}.silex-id-1576104907066-0 {width: 295px; min-height: 80.875px; background-color: rgba(1,1,1,1); top: 238px; left: 380px;}
.text-element > .silex-element-content {font-family: 'Roboto', sans-serif;}
.website-width {width: 1200px;}body.silex-runtime {opacity: 1;}
